.nav-link {
    display: inline-grid;
    color: rgb(0, 153, 255);
    font-size: 20px;
    text-decoration: none !important;
    padding-right: 20px;
    font-weight: normal;
    transition: color 0.5s ease;
}

.nav-links {
	margin-top: 30px;
    margin-right: 20px;
    float: right;
}

.nav-link:hover {
	color: #ddd4e0;
}

.pagehead {
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.sectionhead {
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

#socials {
    text-align: center;
    margin-right: 100px;
}

.wrapper {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 40px;
}

ul {
    list-style: disc outside none; 
    margin-left: 0; 
    padding-left: -1em;
}

li {
    padding-left: 2em;
}

#content {
    padding: 20px;
    background-color: #676767;
}

body {
    background-color: #2b2d2f;
}

.collapsible {
    background-color: #676767;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.about {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ccc;
}