.nav-link {
    display: inline-grid;
    color: rgb(0, 255, 157);
    font-size: 25px;
    text-decoration: none !important;
    padding-right: 20px;
    font-weight: normal;
    transition: color 0.5s ease;
}


.nav-link:hover {
	color: #ddd4e0;
}